.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.signup-card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sign-up-msg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-msg {
  color: red;
  font-size: 0.8rem;
  font-weight: 540;
  margin-top: 2px;
}
