.nav-circle-image {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  object-fit: cover;
}

.username-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
